/* main page faq */
#faq{
    padding: 48px 0;
    color: #333c43;
}
#faq>h2{
    text-align: center;
    margin: auto;
    margin-bottom: 32px;

}
.collapsable{
    width: 70%;
    margin: auto;
}
.collapsable .colaphead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}
.collapsable .colapbody{
     padding: 0 16px; 
    height: 0;
    overflow: hidden;
    transition:0.5s;
    overflow-y: auto;
}
.collapsable .colapcont{
    border-radius: 5px;
    border: 1px solid #d6d8d9;
    margin-bottom: 16px;
    cursor: pointer;
}
.collapsable .colapcont.active .colapbody{
    padding: 12px 16px;
    height: auto;
    max-height: 200px;
}
.collapsable .colapcont.active .colaphead>img{
    transform: rotate(0deg);
}
.collapsable .colaphead>p{
font-weight: bold;
}
.collapsable .colaphead>img{
    width: 20px;
    transform: rotate(180deg);
    transition: 0.5s;
}




