/* navbar styling */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    min-height: 100vh;
    color: #333C43;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relaive

}
#navbar::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #4ea819;

}
#content{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
#nav_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav_menu{
    display: flex;

}
#nav_menu>a{
   text-decoration: none;
   margin: 0 20px;
   font-size: 20px;
   color:#475056;
   transition: 0.5s;
   position: relative;
   box-sizing: border-box;
   padding: 5px 0;
}
#nav_menu>a:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width:0%;
    height: 7%;
    background-color: #4ea819;
    transition: 0.5s;
 }
 #nav_menu>a:hover:before{
    width:100%;
    
 }
#nav_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333c43;
}
#nav_logo>img{
    width: 30px;
    border-radius: 50%;
}
#nav_logo>h1{
    margin:0 0 0 7px;
}
#nav_logo>h1>span{
    color: #4ea819;
}
#nav_links>a{
    width: max-content;
    margin: 25px 5px;
}
.btn1{
    color:#475056;
    background-color: #ffffff;
    border: 1px solid #999da1;
    font-size: 14px;
    padding: 11px 16px;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}
.btn{
    font-size: 14px;
    padding: 11px 16px;
    text-transform: uppercase;
    color: white;
    background-color: #4ea819;      
    border: 1px solid #4c7c35;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;
}
.btn1:hover{
    background-color: #f3f3f3;
}
.btn:hover{
    background-color: #408a15;
}




/* slwf */
#slwf{
    display: flex;
    width: 80%;
    margin:64px auto;
    justify-content: space-between;
}
#slwf>div>p{
    color: #868686;
    margin-top: 25px;
}
#slwf>img{
    width: 540px;
    height: 600px;
    align-self: center;
    margin-right:10px;
}
#slwf>div>div{
    display: flex;
    margin-top: 32px;
}
#slwf>div>div>img{
    width: 30px;
    height: 30px;
}

/* review */
#review{
    background-color:#ebecec;
    padding: 64px 0;
}
#review>h1{
    text-align: center;
}
#review_grid{
    display: grid;
    width: 80%;
    margin: auto;
    padding: 20px;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
#review_grid>div{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgb(178, 178, 178);
}
#review_grid>div>div>img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
#review_grid>div>div{
    display: flex;
    margin-bottom: 16px;
}
#review_grid>div>div>div>a{
   color: #333C43;
   font-weight: bold;
}
/* hero Section styling */
#hero_section{
    padding: 70px 0 50px 0;
    position: relative;
}
#hero_section>img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -20;
}
#hero_section_child{
    width: 90%;
    margin:  auto;
    display: flex;
    justify-content: center;
}
#hero_section_child>div:nth-child(1){
    width: 45%;
    margin-right: 10px;
}
#hero_details{
    padding: 0 10px;
}
#hero_details>h1{
    color: #333C43;
    margin-bottom: 16px;
    font-weight: bolder;
}
#hero_details>h5{
    color: #475056;
    font-weight: lighter;
}
#hero_details>p{
    margin-bottom: 2px;
}
#hero_details>p>a{
   color: #475056;
   font-weight: bold;
}
#hero_form{
    display: flex;
    align-items: center;
    padding: 24px 0;
}
#hero_form>input[type="email"]{
    padding: 13px 12px;
    width: 250px;
    font-size: 20px;
    margin-right: 10px;
    width: 270px;
    border-radius: 3px;
    border: 1px solid #9a9ea1;
}
#hero_form>input[type="submit"]{
    padding: 13px 32px;
    font-size: 19px;
    border-radius: 3px;
}
#hero_video{
    border-radius: 8px;
    background-color: #408a15;
    overflow: hidden;
    width: 40%;
    height: fit-content;
}
#hero_video>iframe{
    width: 100%;
}
#comp_links{
    display: flex;
    width: max-content;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}
#comp_links>a{
    width: fit-content;
    height: fit-content;
    margin: 0 10px;
}

/* details1  */
#details1{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 64px auto;
}
#details1_div1{
    width: 60%;
}
#details1_div1>p{
   margin: 16px 0;
}
#details1_div1_grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px 40px;
}
#details1_div1_grid>div{
    display: flex;
    padding: 20px 10px;
}
#details1_div1_grid>div>img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
#details1_div1_grid>div>div>p{
   padding: 16px 0;
}

/* contactus */
#contactus{
    padding: 64px 0;
    background-color: rgb(78, 168, 25);
    color: white;
}
#contactus_form{
    width: 80%;
    margin: auto;
}
#contactus_form>h1{
    margin: auto;
    text-align: center;
    line-height: 40px;
}
#contactus_form1{
    width: 90%;
    margin:20px auto;
    text-align: center;
    
}
#contactus_form1>input[type="email"]{
    font-size: 20px;
    padding: 11px 16px;
    margin: 0 10px;
    border-radius: 3px;
    border: 1px solid #9a9ea1;
    width: 200px;
}
#contactus_form1>input[type="submit"]{
   font-size:20px;
   border: 1px solid white;
}
#contactus_form1>input[type="submit"]:hover{
    background-color: white;
    color: #475056;
 }
 #contactus_form>p{
    text-align: center;
 }
 #contactus_form>p>a{
    color: white;
    font-weight: bold;
 }

/* integration section  */
#integration>div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}
#integration>div>div>h2{
    margin-bottom: 16px;
    color: #333C43;
}
#integration>div>div{
    width: 43%;
    padding: 0 16px;
}
#integration>div>img{
    width: 45%;
    margin: 0 16px;
}
#integration>div>div>p{
    padding-right: 10px;
    color: #333C43;
}
#int_btn{
    background-color: white;
    padding: 13px 32px;
    color: #434a50;
    border: 1px solid #333C43;
    font-weight: bold;
    margin-top: 20px;
}
#int_btn:hover{
    background-color: rgb(235, 233, 233);
    
}
#integration{
    background-color: #f5f5f6;
    padding: 64px 0;
}

/* device support section  */
#devsup{
    color: #333C43;
    margin-top: 60px;
}
#devsup_grid{
    width: 80%;
    margin: auto;
    display:grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    margin-top: 30px;
}
.devsup_card>img{
    width: 100%;
    margin-bottom: 16px;
}
#devsup>h1{
text-align: center;
padding: 0 40px;
margin-bottom: 16px;
}
.devsup_links{
    padding: 16px 0;
}
.devsup_links>a{
    width: 30px;
    margin-right: 10px;
}
.devsup_links>a>img{
    width: 30px;
}
#devsup>p{
    text-align: center;
    padding: 0 40px;
    margin-bottom: 16px;
    }
.devsup_card_details>p{
        font-weight: bold;
       
    }
.devsup_card_details>ul{
        list-style: none;
        margin-top: 16px;
    }
    .devsup_card_details>ul>li{
       display: flex;
       margin-bottom: 16px;
    }
    .learnm{
        padding: 13px 32px;
        text-transform: uppercase;
        color: #333C43;
        border: 1px solid #333C43;
        border-radius: 3px;
        cursor: pointer;
        background-color: white;
    }
    .learnm:hover{
        background-color: #ebecec;
    }
    .devsup_card_details>ul>li>img{
       width: 30px;
     }
    #desktop{
        margin: 20px 0;
        color: #4ea819;
        font-size: large;

    }

/* footer */
footer{
    background-color:#ebecec;
    padding: 24px 48px;
}
#footer{
    width: 80%;
    margin: auto;
}
#footer>#footer_div1{
display: flex;
justify-content: space-between;
}
#footer_div2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#footer_applinks>a{
    margin-left:10px;
}
#socialmedia_links{
    display: flex;
    justify-content: center;
    align-items: center;
}
#socialmedia_links>a{
    width: 30px;
    margin-right: 15px;
}
#footer_div2>#socialmedia_links>a>img{
    width: 100%;
}
#footer_form>input[type="email"]{
    font-size: 14px;
    padding: 11px 16px;
    margin: 0 10px;
    width: 270px;
    border-radius: 3px;
    border: 1px solid #9a9ea1;
    width: 200px;
}
#footer_form>label{
    font-size: 18px;
    color: #475056;
}
#footer_bottom{
    background-color: #d6d8d9;
    display: block;
}
#footer_bottom_div1{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
#footer_bottom_div1>p{
   
   display: flex;
   align-items: center;
   color: #545067;
}

/* chatbox */
#chatbtn{
    bottom: 30px;
    position: sticky;
    left: 90%;
    display: flex;
    width: fit-content;
    padding: 10px 20px;
    color: white;
    background-color: #1b99f4 ;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#chatbtn>img{
   width: 20px;
   margin-right: 5px;
   height: 20px;
}
#topchat{
    display: flex;
    padding: 10px 10px;
    color: white;
    justify-content: space-between;
    align-items: center;
    background-color: #1b99f4;
}
#containerchat{
    width: 100%;
    height: 300px;
    overflow-y: auto;
    background-color: green;
}
#chatbox>button{
    display: block;
    margin: 12px;
    width: fit-content;
    background-color: white;
    border:1px solid #1b99f4;
    border-radius: 20px;
    color: #1b99f4;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 14px;

}
#chatbox>input{
   width: 91%;
   display: block;
   margin: auto;
   height: 100px;
   border:1px solid #9a9ea1;
}
#topchat>h3{
    width: 80%;
    text-align: center;
}
#topchat>span{
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;

}
#chatbox{
    position: sticky;
    left: 75%;
    bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
    background-color: white;
    z-index: 20;
}
#chatbox>*{
   box-sizing: border-box;
}

@media screen and (max-width:1340px) and (min-width:1101px){
    
    #hero_form{
        flex-direction: column;
        align-items: flex-start;
    }
    #hero_form>input[type="submit"]{
        margin-top: 10px;
        
        width: 270px;
    }
   

    

}
@media screen and (max-width:1100px) and (min-width:575px){
    #devsup_grid{
        grid-template-columns: repeat(1,1fr);
        
    }
    #footer>#footer_div1{
        display: block;
        text-align: center;
    }
    #footer>#footer_div1>#nav_logo{
        margin-bottom: 16px;
        text-align: center;
    }
    #footer_div2{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        text-align: center;
    }
    
    #footer_div2>#footer_form input{
        display: block;
        width: 60%;
        margin: auto;
        margin-bottom: 16px;
    }
    
    
    .devsup_card{
       display: flex;
       justify-content: space-between;
       margin-top: 16px;
    }
     
    .devsup_card>img{
        width: 350px;
        height:207px;
        align-self: center;
     }
    #hero_form{
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    #hero_section_child{
        flex-direction: column;
        align-items: center;
    }
    #hero_form>input[type="submit"]{
        margin-top: 0px;
        width: 270px;
    }
    #hero_section_child>div:nth-child(1){
        width: 100%;
        margin-right: 0;
    }
    #hero_section_child>div:nth-child(2){
        width: 100%;
        margin-right: 0;
        margin-top: 10px;
    }
    #hero_section_child>div:nth-child(1)>h1{
       text-align: center;
    }

    /* intergration  */

    #integration>div{
        flex-direction: column;
        width: 90%;
    }
    
    #integration>div>div{
        width: 100%;
    }
    #integration>div>img{
        width: 60%;
    }
   
    
    /* faq  */
    body>#faq>h2{
        width: 90%;
    
    }
    body .collapsable{
        width: 90%;
    }
    
    

}
@media screen and (max-width:574px) and (min-width:100px){
    
   
    #contactus_form1>input[type="email"]{
        width: 250px;
    }
    #contactus_form1>input[type="submit"]{
        width: 250px;
        margin-top: 16px;
    }
    #contactus_form{
        width: 95%;
    }
    #devsup_grid{
        grid-template-columns: repeat(1,1fr);
        
    }
    .devsup_card{
        display: flex;
        flex-direction: column;
        margin-top: 16px;
     }
      
     .devsup_card>img{
         width: 350px;
         height:207px;
         align-self: center;
      }
    
    #hero_form{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #hero_section_child{
        flex-direction: column;
        align-items: center;
    }
    #hero_form>input[type="submit"]{
        margin-top: 10px;
        width: 270px;
        
    }
    #hero_form>input[type="email"]{
        margin-right: 0;
        
    }
    #hero_section_child>div:nth-child(1){
        width: 100%;
        margin-right: 0;
    }
    #hero_section_child>div:nth-child(2){
        width: 100%;
        margin-right: 0;
        margin-top: 10px;
    }
    #hero_section_child>div:nth-child(1)>h1{
        
       text-align: center;
    }
    #hero_section_child>div>h5{
       
       text-align: center;
    }
    #hero_section_child>div:nth-child(1)>p{
       
       text-align: center;
    }


    /* integration */

    #integration>div{
        flex-direction: column;
        width: 90%;
    }
   
    #integration>div>div{
        width: 100%;
    }
    #integration>div>img{
        width: 100%;
    }
    
    
    
 /* faq  */
 body>#faq>h2{
    width: 90%;

}
body .collapsable{
    width: 90%;
}

#footer{
    width: 99%;
}

#footer>#footer_div1{
    display: block;
    text-align: center;
}
#footer>#footer_div1>#nav_logo{
    margin-bottom: 16px;
    text-align: center;
}
#footer_div2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
}

#footer_div2>#footer_form input{
    display: block;
    width: 60%;
    margin: auto;
    margin-bottom: 16px;
}

}